html,
body {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0) url("public/img/exp_background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
}

.logo {
  width: 120px;
}

.logo > img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
  flex-direction: column;
}

.toggle-button-container {
  margin: 40px;
}

.toggle-button-container > button {
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-family: "FVAlmeloRegular";
  font-size: large;
}

.whoami {
  margin-top: 100px;
  font-family: "FVAlmeloRegular";
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 100px rgba(0, 0, 0, 0.75);
}

video {
  width: 100vw;
  height: 100vh;
  border-radius: 4px;
  display: none;
}
